@import url('https://fonts.googleapis.com/css?family=Raleway');
body
{
	background:rgba(114, 101, 113, 0.219)	;
}
div
{
	width:150px;
	height:150px;
	border-radius: 40%;
	z-index:120;
}
h1
{
font-family: 'Story Choice Sans Serif', sans-serif;
		 position: fixed;
	left:30%;
  
}
h2{
	font-family: 'Story Choice Sans Serif', sans-serif;
		position:fixed;
	left:30%;
}
h3{
	font-family: 'Story Choice Sans Serif', sans-serif;
		position:fixed;
	left:30%;
}
